/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

body{
    background-color: #000 ;
    height: 100vh;
}
.interface{
    width: 100%;
    max-width:1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button {
    background-color: #00ff08;
    border:none;
    padding: 10px 40px;
    font-size:18px;
    font-weight:600;
    border-radius:30px;
    cursor: pointer;
}
button:hover {
    box-shadow: 1px 1px 15px #00FF08;
    transform: scale(1.05);
    transition: 0.2s;

}
h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #00ff08;
    
}
.btn-social button{
    width:60px ;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}
/*ESTILO CABECALHO */

header{
    padding:40px 4%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color:#5c5c5c;
    text-decoration: none;
    display: inline-block;

}
header a:hover{
    color:#fff;
    transform: scale(1.05);
    transition: 0.2s;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    padding: 0 40px;

}

 .btn-contato button:hover {
    box-shadow: 1px 1px 15px #00FF08;
}

/*EDICAO TOPO*/
.topo-do-site{
    padding:40px 4%;
}

.foto-perfil{
    width: 350px;
    height: 350px;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height:40px
}
.topo-do-site .txt-topo-site h1 span{
    color: #00FF08;

}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}
.topo-do-site .img-topo-site .foto-perfil{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO ESPECIALIDADES*/
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
    box-sizing: border-box;
}

.especialidades .especialidades-box{
    color:#fff;
    padding: 40px;
    border-radius:20px ;
    margin-top:45px;
    transition: .2s;
    width: 100%;

}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff63;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00ff08;
    
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin:15px 0;
}

/*ESTILO SOBRE */

 .img-sobre img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

section.sobre{
    padding: 20px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}
.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block; 
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.btn-social button{
    width:60px ;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}
/*ESTILO PORTIFOLIO*/
section.portifolio{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1c;
}

.port-box{
    
    width:360px;
    height: 460px;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    position: relative;
    
}
.port-box:hover{
    background-position:100% 100%;
}
.overlay{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #030303dc;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    opacity: 0;
    transition: .5s;
    
}
.overlay:hover{
    opacity: 1;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top:60px;
}

.pro1{
    background-image: url(/images/AGENCIA\ DE\ VIAGENS.jpg);
    transition:25s;
}

.pro2{
    background-image: url(/images/CLINICA\ MEDICA.jpg);
    transition:20s;

}
.pro3{
    background-image: url(/images/AGENCIA\ DE\ VIAGENS.jpg);
    transition:25s;
}
section.portifolio .box{
    border-radius: 40px;
}
section.portifolio .box:hover{
    box-shadow: 0 0 10px 10px #ffffff52;

}
/*ESTILO RODAPE*/
footer{
    padding: 40px 4%;
    
}
footer .flex{
    justify-content: space-between;
    align-items: center;
}
.line-footer p i{
    color: #00FF08;
    font-size: 22px;
}
.line-footer p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.borda{
    border-top: 2px solid #00ff08;
}
footer .rodape-assinatura{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line-footer p{
    padding-top: 20px;
}
.assinatura{
    color: #ffffff;
    font-size: 18px;
    padding-top: 20px;
}

/* RESPONSIVIDADE / MEDIA QUERY */

@media only screen and (max-width:1188px ){
    /*geral*/
    .flex{
        flex-direction: column
    }
    .btn-social{
        width: 800px;
        display: flex;
        justify-content: space-around;
    }
    /*portifolio*/
    .portifolio .flex{
        align-items: center;
        gap: 15px;
    }
    /*especialidades*/
    section.especialidades .flex{
        gap: 10px;
    }
    .especialidades .especialidades-box{
    
        margin-top:15px;
    }
    /*sobre*/
    .sobre .btn-social{
        margin: 0 auto;
    }
    section.sobre .flex{
       flex-direction: column-reverse;
    }
    /*SECAO PORTIFOLIO*/

}

@media only screen and (max-width: 938px){
    /*GERAL*/
    *{scrollbar-width: none;};
    
    /*header*/
    header .interface .btn-contato{
        display: none;
    }
    header .interface {
        flex-direction: column;
    }
    header .interface .logo img{
        width: 130px;
    }
    header .interface .menu-mobile a{
        font-weight: 800;
        font-size: 20px;
    }

    /*banner*/

    .topo-do-site .txt-topo-site h1 {
        font-size: 32px ;
        text-align: center;
    }
    .topo-do-site .txt-topo-site p {
        font-size: 16px ;
        text-align: center;
    }
    .topo-do-site .btn-contato {
        text-align: center; 
    }

    .btn-contato button {
        padding: 5px 20px;
        
    }

    /*sobre*/

    .sobre .interface{
        padding: 80px 3%;
        

       
    }
    .sobre .txt-sobre{
        width: calc(100% - 3%);
    }
    .sobre .txt-sobre h2{
        font-size: 32px;
    }
    .sobre .img-sobre {
        display: flex;
        justify-content: center;
        
    }
    .sobre .img-sobre img{
        width: 80%;
        
    }

    /*portifolio*/

    .portifolio .interface {
        width: 80%;

    }
    /*footer btn*/
    footer .btn-social{
        margin: 0 0 20px 0;
        
        
    }
}

@media only screen and (max-width:753px){
    header .interface .menu-mobile ul {
        display:flex ;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    
    footer .flex{
        justify-content: center;
        align-items: center;
    }

    .btn-social{
        width:200px;
        display: flex;
        justify-content: center;
        
    }
    footer .btn-social{
        margin: 0 0 20px 0;
        width:200px;
        display: flex;
        justify-content: center;
        
    }
    .img-sobre img{
        display: none;
    }
    
    section.sobre .interface{
        padding: 0 4%;
    }
    .sobre{
        box-shadow: 0 0 7px 7px #ffffff1f;
    }
    .rodape-assinatura{
        flex-direction: column;
    }
    .pro1, .pro2, .pro3{
        box-shadow: 0 0 7px 7px #ffffff0c;
    }
};

@media only screen and (max-width:393px){
    .topo-do-site .txt-topo-site h1 {
        font-size: 26px ;
        text-align: center;
    }
}